body {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    overflow: hidden;
}

.conteiner {
    width: 100%;
    display: flex;
    align-items: center;
    background: #F5F4F9;
}

.logo-foto {
    background: #F5F4F9;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.logo-coracao {
    width: 100vh;
    right: 100vh;
}

.card-login {
    background: #ffffff;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 809px;
    height: 100vh;
    border-radius: 24px 0 0 24px;
    box-shadow: 5px 5px 1em #888;
}

.email {
    position: relative;
}

.label-email {
    left: 12px;
    bottom: 53px;
    position: absolute;
    background: #FFFFFF;
    color: 616161;
}

.senha {
    position: relative;
}

.label-senha {
    left: 12px;
    bottom: 53px;
    position: absolute;
    background: #FFFFFF;
    color: 616161;
}

.card-form {
    padding: 20px;
    width: 300px;
}

.card-form h1 {
    text-align: left;
}

.card-form img {
    width: 250px;
    height: 62.79px;
}

.card-form form input,
form textarea {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #edebf6;
    margin-bottom: 20px;
}

.suporte {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

.botao {
    width: 300px;
    height: 40px;
    color: #FFFFFF;
    background: #00c247;
    border: 5px;
    border-radius: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}

.entao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #616161;
    margin-bottom: 15px;
}

.linha {
    width: 43px;
    border-bottom: 1px solid #616161;
}

header {
    height: 100px;
    background: #ffffff;
    justify-content: space-between;
    display: flex;
    padding-right: 35px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.logo-home {
    padding: 20px;
}

.logo-home img {
    width: 280px;
}

.user-logo {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.user-logo span {
    margin-left: 10px;
}

.linha-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.linha-header-1 {
    width: 100%;
    border-bottom: 5px solid #AA6F34;
}

.linha-header-2 {
    width: 100%;
    border-bottom: 5px solid #D2772E;
    ;
}

.linha-header-3 {
    width: 100%;
    border-bottom: 5px solid #F48221;
}

.linha-header-4 {
    width: 100%;
    border-bottom: 5px solid #FAA61A;
}

.linha-header-5 {
    width: 100%;
    border-bottom: 5px solid #F9E423;
}

.sidebar {
    background: #F9E423;
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    transition: 0.6s ease;
}

.sidebar .menu-lateral {
    width: 100%;
    margin-top: 120px;
}

.sidebar .menu-lateral .opcao-menu {
    position: relative;
    cursor: pointer;
}

.sidebar .menu-lateral .opcao-menu a {
    color: #AA6F34;
    font-size: 18px;
    text-decoration: none;
    padding: 5px 40px;
    line-height: 60px;
    border-left: 7px solid #F9E423;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
}

.sidebar .menu-lateral .opcao-menu a:hover {
    background: #FAA61A;
    transition: 0.5s ease;
    border-left: 7px solid #F48221;
    color: #ffffff;
    font-size: 18px;
}

.sidebar .menu-lateral .opcao-menu span {
    margin-right: 15px;
    font-size: 34px;
}

.sidebar .menu-lateral .opcao-menu a .icone {
    position: absolute;
    right: 0;
    margin: 20px;
    transition: 0.3s ease;
}

.sidebar .menu-lateral .opcao-menu .submenu {
    display: none;
}

.sidebar .menu-lateral .opcao-menu .submenu a {
    padding-left: 90px;
}

.sidebar .menu-lateral .opcao-menu .submenu a:hover {
    background: #F48221;
    transition: 0.3s ease;
}

.sidebar .menu-lateral .final {
    width: 300px;
    position: fixed;
    bottom: 20px;
}

.rotate {
    transform: rotate(90deg);
}

.content {
    position: relative;
    margin-left: 300px;
}

.centro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #F5F4F9;
}

.centro h1 {
    color: #888;
}

.centro h2 {
    color: #AA6F34
}

.faleconosco {
    position: fixed;
    bottom: 30px;
    right: 20px
}

.faleconosco img {
    width: 180px;
    height: 100px;
}

.tabela {
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 50px;
}

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
    margin: 0 0 0 0;
}

.table thead th {
    padding: 10px;
    text-align: left;
    color: #000000;
    justify-content: space-around;
}

.table tbody td {
    border: 1px solid #ececec;
    padding: 10px;
}

.table tbody tr:nth-child(even) {
    background: #ececec;
}

.central {
    margin-left: 300px;
    background: #F5F4F9;
    height: 100vh;
}

.central h1 {
    margin: 0%;
    padding: 20px;
}

.btnBuscar {
    display: flex;
    margin-left: 15px;
    margin-right: 50px;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.btnPagina {
    width: 200px;
    height: 40px;
    color: #FFFFFF;
    background: #00c247;
    border: 5px;
    border-radius: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}

.buscarProfessor {
    background: #ffffff;
    border: solid 1px;
    border-radius: 10px;
    width: 300px;
}

#buscarProf {
    border-radius: 15px;
    background: #ffffff;
    padding-left: 10px;
    font-size: 14px;
    border: none;
    height: 32px;
    width: 260px;
}

.card-novo-professor {
    margin-left: 30px;
    margin-right: 30px;
    background: #ffffff;
    height: 300px;
    border-radius: 24px 24px 24px 24px;
    box-shadow: 5px 5px 1em #888;
}

.card-novo-professor h4 {
    padding: 20px;
}

#formulario {
    display: flex;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

#formulario label {
    display: block;
    font-weight: bold
}

#formulario button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 430px;
}

.item {
    margin-right: 150px;
}